.loc {
  color:gray;
  font-style:italic;
  font-size:11px;
}

.command-snippet {
  font-family:'Courier New';
  white-space:pre;
}

.feedback-text {
  font-size:small;
}

.no-result {
  font-family:'Arial';
  color:gray;
  font-style:italic;
}

.teaser {
  font-size:11;
}

.teaser-info {
  display: none;  
  background-color: #ECEBF1;
}

em
{
  font-style:bold;
}
#container
{
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 60%;
    top: 5em;
    font-family: sans-serif;
}

.spacer-medium {
  margin-top: 40px; /* define margin as you see fit */
}

.twitter-typeahead {
     width: 100%;
     position: relative;
 }

.typeahead.tt-input {
  min-width: 600px;
}

.tt-menu {
    min-width: 600px;
    max-width: 600%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

/*
 .tt-query, 
 .tt-hint {
     width: 396px;
     height: 30px;
     padding: 8px 12px;
     font-size: 24px;
     line-height: 30px;
     border: 2px solid #ccc;
     border-radius: 8px;
     outline: none;
 }
 
 .tt-query { 
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }
 
 .tt-hint {
     color: #999;
 }
 
 .tt-menu { 
     width: 422px;
     margin-top: 12px;
     padding: 8px 0;
     background-color: #fff;
     border: 1px solid #ccc;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 8px;
     box-shadow: 0 5px 10px rgba(0,0,0,.2);
 }
 
 .tt-suggestion {
     padding: 3px 20px;
     font-size: 18px;
     line-height: 24px;
 } */
